body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between; /* Distributes space between items */
    align-items: center; /* Aligns items vertically centered */
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #333; /* Background color */
    color: white; /* Text color */
}

header h1 {
    font-size: 1.5rem; /* Adjust font size as needed */
}

header nav a {
    color: white; /* Link color */
    text-decoration: none; /* Remove underline from links */
    margin-left: 15px; /* Space between links */
    font-size: 1rem; /* Font size for links */
}

header nav a:hover {
    text-decoration: underline; /* Underline on hover */
}

nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

#map {
    height: 500px;
    margin: 20px auto;
    width: 70%;
    border: 2px solid #333;
}

#controls {
    text-align: center;
    margin-top: 20px;
}

#result {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
